a {

    color: #1c07be;

}



.accent-color {

	color: #1c07be;

}



.accent-color-bg {

	background-color: #1c07be;

}



.top-bar a:hover {

	color: #1c07be;

}



.section-overlay {

	background-color: #1c07be;

}



.top-bar.color-bar {

	background-color: #1c07be;

}



.service-box .read-more {

	color: #1c07be;

}



a.main-button, input[type="submit"] {

	background-color: #1c07be;

}



.navbar-default .navbar-nav > li:hover > a,

.navbar-default .navbar-nav > li > a.active {

	color: #1c07be;

}



.dropdown > li:hover > a, .sup-dropdown li:hover > a {

	color: #1c07be;

}



.navbar-default .navbar-nav > li > a:after {

	background-color: #1c07be;

}



.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li:hover > a {

	border-color: #1c07be;

}



.dropdown  li a.active, .sup-dropdown li a.active {

	color: #1c07be;

}



ul.breadcrumbs li a:hover {

    color: #1c07be;

}



.full-width-recent-projects .portfolio-item:hover .portfolio-thumb .thumb-overlay {

	background-color: #1c07be;

}



.tp-caption.color-bg {

	background-color: #1c07be;

}



.team-member .member-socail a.mail:hover i {

	background-color: #1c07be;

}



.post-share a.mail:hover {

	background-color: #1c07be;

}



.progress .progress-bar.progress-bar-primary {

	background-color: #1c07be;

}



.latest-posts-classic .left-meta-post .post-type i {

	background-color: #1c07be;

}



.latest-posts-classic .post-title a:hover {

	color: #1c07be;

}



.latest-posts-classic .read-more {

	color: #1c07be;

}



.panel-title a {

	color: #1c07be;

}



.panel-title a:hover {

	color: #1c07be;

}



.milestone-block .milestone-icon {

	background-color: #1c07be;

}



.milestone-block .milestone-icon:after {

	background-color: #1c07be;

}



.milestone-block .milestone-number {

	color: #1c07be;

}



.pricing-tables .pricing-table.highlight-plan .plan-name h3 {

	//color: #1c07be;

}



.pricing-tables .pricing-table.highlight-plan .plan-signup {

    background-color: #1c07be;

}



.pricing-tables .pricing-table.highlight-plan .plan-name {

	background-color: #1c07be;

}



.btn-system {

	background-color: #1c07be;

}



.btn-system.border-btn {

	border-color: #1c07be;

	color: #1c07be;

}



.btn-system.border-btn:hover {

	background-color: #1c07be;

}



.btn-system.border-btn.btn-wite:hover {

	color: #1c07be;

}



.btn-system.btn-wite{

	color: #1c07be;

}



ul.icons-list li i {

	color: #1c07be;

}



.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {

	background-color: #1c07be;

}



.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {

	color: #1c07be;

}



.icon-small {

	text-shadow: 0 0 0 #1c07be;

}



.icon-small:hover, .service-box:hover .icon-small {

	color: #1c07be;

}

.icon-medium {

	text-shadow: 0 0 0 #1c07be;

}



.icon-medium:hover, .service-box:hover .icon-medium {

	color: #1c07be;

}



.icon-large {

	text-shadow: 0 0 0 #1c07be;

}



.icon-large:hover, .service-box:hover .icon-large {

	color: #1c07be;

}



.icon-effect-1 {

	box-shadow: 0 0 0 3px #1c07be;

	-o-box-shadow: 0 0 0 3px #1c07be;

	-moz-box-shadow: 0 0 0 3px #1c07be;

  	-webkit-box-shadow: 0 0 0 3px #1c07be;

}



.icon-effect-1:after {

	background-color: #1c07be;

}



.icon-effect-1:hover, .service-box:hover .icon-effect-1 {

	color: #1c07be;

}



.icon-effect-2 {

	color: #1c07be;

	box-shadow: 0 0 0 3px #1c07be;

	-o-box-shadow: 0 0 0 3px #1c07be;

	-moz-box-shadow: 0 0 0 3px #1c07be;

  	-webkit-box-shadow: 0 0 0 3px #1c07be;

}



.icon-effect-2:after {

	background-color: #1c07be;

}



.icon-effect-3 {

	color: #1c07be;

	box-shadow: 0 0 0 3px #1c07be;

	-o-box-shadow: 0 0 0 3px #1c07be;

	-moz-box-shadow: 0 0 0 3px #1c07be;

  	-webkit-box-shadow: 0 0 0 3px #1c07be;

}



.icon-effect-4 {

	color: #1c07be;

	box-shadow: 0 0 0 3px #1c07be;

	-o-box-shadow: 0 0 0 3px #1c07be;

	-moz-box-shadow: 0 0 0 3px #1c07be;

  	-webkit-box-shadow: 0 0 0 3px #1c07be;

}



.icon-effect-5 {

	color: #1c07be;

	box-shadow: 0 0 0 3px #1c07be;

	-o-box-shadow: 0 0 0 3px #1c07be;

	-moz-box-shadow: 0 0 0 3px #1c07be;

  	-webkit-box-shadow: 0 0 0 3px #1c07be;

}



.icon-effect-6 {

	color: #1c07be;

	box-shadow: 0 0 0 3px #1c07be;

	-o-box-shadow: 0 0 0 3px #1c07be;

	-moz-box-shadow: 0 0 0 3px #1c07be;

  	-webkit-box-shadow: 0 0 0 3px #1c07be;

}



.team-member .member-photo .member-name span {

	background-color: #1c07be;

}



.classic-title span {

	border-bottom-color: #1c07be;

}



.portfolio-filter li a:hover {

	color: #1c07be;

}



.portfolio-filter li a.selected {

	border-color: #1c07be;

	background-color: #1c07be;

}



.portfolio-item:hover .portfolio-details h4 {

	color: #1c07be;

}



.project-content h4 span {

	border-bottom-color: #1c07be;

}



.recent-projects h4.title span {

	border-bottom-color: #1c07be;

}



ul.post-meta li a:hover {

	color: #1c07be;

}



#pagination span.current {

	border-color: #1c07be;

	background-color: #1c07be;

}



#pagination a:hover {

	color: #1c07be;

}



.post-tags-list a:hover {

	background-color: #1c07be;

}



.post-share a.mail {

	background-color: #1c07be;

}



.sidebar a:hover {

	color: #1c07be;

}



.widget-search .search-btn {

	background-color: #1c07be;

}



.sidebar .tagcloud a:hover {

    background-color: #1c07be;

}



.back-to-top:hover i {

    background-color: #1c07be;

}



.touch-slider .owl-controls.clickable .owl-buttons div:hover {

	background-color: #1c07be;

}



.touch-carousel .owl-controls.clickable .owl-buttons div:hover {

	background-color: #1c07be;

}



.testimonials-carousel .owl-controls.clickable .owl-buttons div {

	background-color: #1c07be;

}



.testimonials-carousel .owl-controls.clickable .owl-buttons div:hover i {

	color: #1c07be;

}







#portfolio-list li .portfolio-item-content {

    background: rgba(0, 175, 209, 0.9);

}



.services-3-icon i {

    background-color: #1c07be;

}



.services-2-icon i {

    background-color: #1c07be;

}



#main-slide .animated2 strong {

    color: #1c07be;

}

#main-slide .animated4 strong {

    color: #1c07be;

}

#main-slide .animated7 strong {

    color: #1c07be;

}



#main-slide .carousel-control i:hover{

	background-color: #1c07be;

}

.slider.btn {

    background-color: #1c07be;

}



#main-slide .carousel-indicators .active {

    background-color: #1c07be;

}





.counter-item i {

    color: #1c07be;

}



.timer {

    color: #1c07be;

}



.progress-bar {

    background-color: #1c07be;

}



.team-member.modern .member-photo:after {

    background-color: #1c07be;

}







.twitter-widget a {

	color: #1c07be;

}



.dot1, .dot2 {

    background-color: #1c07be;

}